@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin-ext');

body {
    background-color: #2A2A2F;
}

h1 {
    text-align: center;
}

button {
    outline: none;
}

input, textarea {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    outline: none;
}

textarea {
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-div, .card-div {
    text-align: center;
}

.card-order {
    color: rgba(0,0,0,1);
    position: absolute;
    left: 10px;
    top: 10px;
}

.card-id {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-div {
    margin: 10px 5px;
    position: relative;
}

.drop-zone {
    border: 3px dashed grey;
    margin: 15px 7px;
    border-radius: 10px;
    min-height: 150px;  
}

.card-pool-col {
    min-height: 300px;
}

.no-border {
    border: none;
}

.title {
    color: #3498DB;
    font-family: Anton, serif;
    font-size: 3em;
    user-select: none;
    cursor: default;
}

.board-div {
    text-align: center;
    color: white;
    background-color:#3e3e45;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border-color: #2C3E50;
    border: 1px solid #E95846;
    margin-bottom: 15px;
    height: 200px;
}

.board-div h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7em;
    line-height: 1.15em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.15em;        /* fallback */
    max-height: 3.45em;       /* fallback */
    width: 95%;
}

.card-title {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    width: 95%;
    height: 85px;
    position: relative;
    z-index: 1;
}

.disabled-title {
    background-color: gray;
}

.board-div:hover {
    position: relative;
    background-color: #19191C;
    cursor: pointer;
    border-color: #CC4335;
    transition: background-color 0.2s, border-color 0.2s;
}

h2 {
    margin-top:10px;
    font-weight: bold;
}

#new-board-form {
    margin-bottom: 15px;
}

#new-board-button, #new-card-button {
    padding: 15px;
    margin: 0px 5px 15px 0px;
    background-color: #52a74f;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #52a74f;
}

#new-board-button:hover, #new-card-button:hover {
    background-color: #24A12B;
}


#back-to-boards {
    padding: 15px;
    margin: 0px 15px 15px 0px;
    background-color: #E74C3C;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #CC4335;
}

#back-to-boards:hover {
    background-color: #CC4335;
    }

.edit-title, .submit-title {
    padding: 5px;
    background-color: #3d3d3d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    border: 1px solid #1f1f1f;
}

.card-pool-col h2 {
    background-color: #243342;
    padding: 8px 8px 8px 15px;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 3px solid #18222B;
}

.card-div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
    
}   

.card-div:hover {
    background-color: rgba(52,152,219,0.5);
    transition: background-color 0.5s, border-color 0.5s;
}

.disabled-title {
    background-color: rgba(0,0,0,0); 
    border: none;
    text-align: center;
    font-weight: bold;
}

#new-board-entry, #new-card-entry {
    padding: 5px;
    background-color: #3d3d3d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;    
    color: white;
    border: 1px solid #1f1f1f;
    margin: 0px 0px 5px 5px;
}

#boards .row:first-child {
    margin-bottom: 25px;
}

#boards .row:last-child {
    margin-bottom: 40px;
}

#new-board-form, #new-card-form {
    display: none;
}

#cards {
    display: none;
}

/* Message flashing class selectors */


p.error {
    margin: 20px auto 20px auto;
    background-color: #2A2A2F;
    color: #FFA39B;
    border-radius: 50px;
    padding: 8px 25px;
    max-width: 80%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    display: table;
}

p.success {
    margin: 20px auto 20px auto;
    background-color: #2A2A2F;
    color: #56CC65;
    border-radius: 50px;
    padding: 8px 25px;
    max-width: 80%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    display: table;
}

p.login_error, p.register_error {
    margin: 20px auto 20px auto;
    background-color: #2A2A2F;
    color: #FFA39B;
    border-radius: 50px;
    padding: 8px 25px;
    max-width: 80%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    display: table;
}

/* The Modal (background) */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

/* Modal Content */
#modal-content {
    background-color: #1E1E1E;
    margin: auto;
    padding: 30px 50px 40px 50px;
    border: 1px solid #888;
    border-radius: 10px;

}

#modal-content table {
    border-color: white;
}

#modal-content h2 {
    color: #F2F2F2;
    margin-top: 20px;
}

/* Close Button */
.close {
    color: #F2F2F2;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Header */
header {
    padding: 20px 0;
    border: 1px solid black;
}

header .row,
footer .row {
  display: block;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
    font-size: 1.2em;
    cursor: pointer;
}

header a:hover {
    cursor: pointer;
}

/* Footer */
#footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
    background-color: #2A2A2F;
    color: white;
    border-top: 1px solid #E95846;
    z-index: 1;
    height: 80px;
}
