@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin-ext');

body {
    background-color: #2A2A2F;
}

button {
    outline: none;
}

input, textarea {
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    outline: none;
}

textarea {
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-div, .card-div {
    text-align: center;
}

.card-order {
    color: rgba(0,0,0,1);
    position: absolute;
    left: 10px;
    top: 10px;
}

.card-id-number, .board-id-number {
    position: absolute;
    left: 14px;
    top: 10px;
    font-weight: bold;
}


.buttons-div {
    position: absolute;
    right: 8px;
    top: 8px;
}

.delete, .details {
    float: right;
    width: 35px;
    margin: 0;
    padding: 5px;
    border-radius: 30px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.details {
    filter: invert(100%);
}

.delete:hover {
    background-color: rgba(225,225,225,1.0);
    border: 1px solid rgba(225,225,225,1.0);
}

.details:hover {
    background-color: rgba(225,225,225,1.0);
    filter: invert(0%);
    border: 1px solid black;
}

.card-div {
    margin: 10px 5px;
    position: relative;
}

.drop-zone {
    border: 3px dashed grey;
    margin: 15px 7px;
    border-radius: 10px;
    min-height: 150px;  
}

.card-pool-col {
    min-height: 300px;
}

.no-border {
    border: none;
}

.title {
    color: #3498DB;
    font-family: Anton, serif;
    font-size: 3em;
    user-select: none;
    cursor: default;
}

.board-div {
    text-align: center;
    color: white;
    background-color:rgb(60,60,60);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: 1px solid #E95846;
    margin-bottom: 15px;
    height: 200px;
    position: relative;
}

.board-title {
    text-align: center;
    margin: 55px auto 20px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7em;
    line-height: 1.15em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.15em;        /* fallback */
    max-height: 3.45em;       /* fallback */
    width: 95%;
}

.card-title {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    width: 95%;
    height: 85px;
}

.board-div:hover {
    position: relative;
    background-color: rgb(40,40,40);
    cursor: pointer;
    border-color: #CC4335;
    transition: background-color 0.2s, border-color 0.2s;
}

h2 {
    margin-top:10px;
    font-weight: bold;
}

#new-board-form {
    margin-bottom: 15px;
}

#new-board-button, #new-card-button {
    padding: 15px;
    margin: 0px 5px 15px 0px;
    background-color: #52a74f;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #52a74f;
}

#new-board-button:hover, #new-card-button:hover {
    background-color: #24A12B;
}

.card-count {
    position: absolute;
    bottom: 8px;
    right: 10%;
    left: 10%;
    font-size: 0.9em;
}

#back-to-boards {
    padding: 15px;
    margin: 0px 15px 15px 0px;
    background-color: #E74C3C;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #CC4335;
}

#back-to-boards:hover {
    background-color: #CC4335;
    }

.edit-submit-button {
    padding: 5px;
    background-color: #3d3d3d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    border: 1px solid #1f1f1f;
}

.card-pool-col h2 {
    background-color: #243342;
    padding: 8px 8px 8px 15px;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 3px solid #18222B;
    line-height: 1em;
}

.card-div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
    
}   

.card-div:hover {
    background-color: rgba(52,152,219,0.5);
    transition: background-color 0.5s, border-color 0.5s;
}

.disabled-title {
    background-color: rgba(0,0,0,0); 
    border: none;
    text-align: center;
    font-weight: bold;
}

#new-board-entry, #new-card-entry {
    padding: 8px;
    background-color: #3d3d3d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;    
    color: white;
    border: 1px solid #1f1f1f;
    margin: 0px 0px 5px 5px;
}

.row:first-child {
    margin-bottom: 25px;
}

#boards .row:last-child {
    margin-bottom: 60px;
    margin-top: 10px;
}

#new-board-form, #new-card-form {
    display: none;
}

#cards {
    display: none;
}

/* Message flashing class selectors */
p.error, p.success, p.login_error, p.register_error {
    margin: 20px auto 20px auto;
    border-radius: 5px;
    background-color: #333030;
    font-weight: normal;
    padding: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    max-width: 80%;
    text-align: center;
    overflow: hidden;
    display: table;
    font-size: 1em;
}

p.success {
    color: #56CC65;
}

p.login_error, p.register_error, p.error {
    color: #FFA39B;
}

/* The Modal (background) */
#modal-background {
    display: none;
    position: fixed;
    z-index: 998;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
#modal-content {
    background-color: #1E1E1E;
    color: #d8d8d8;
    margin: 80px auto 30px auto;
    padding: 30px 60px 40px 60px;
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;
    font-size: 1.2em;
}

.modal-title {
    width: 90%;
    margin: 25px auto 15px auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1.6em;
    text-align: center;
    overflow: auto;
}


.modal-description {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: none;
    padding: 5px;
    font-weight: normal;
    width: 100%;
    margin: 15px auto 15px auto;
    display: block;
    border-radius: 10px;
    overflow: auto;
    font-size: 0.9em;
    text-align: justify;
}

.modal-description::placeholder {
    font-style: italic;
}


/* Close Button */
.close {
    color: #F2F2F2;
    position: absolute;
    right: 35px;
    top: 23px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Header */
header {
    padding: 20px 0;
    border: 1px solid black;
}

header .row,
footer .row {
  display: block;
  align-items: center;
}

h1 {
  text-align: center;  
  font-weight: bold;
  font-size: 2.4em;
  margin: 20px auto 20px auto;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
    font-size: 1.2em;
    cursor: pointer;
}

header a:hover {
    cursor: pointer;
}

/* Footer */
#footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
    background-color: #2A2A2F;
    color: white;
    border-top: 1px solid #E95846;
    z-index: 1;
    height: 80px;
}

.loading {
    display: block;
    margin: 30px auto;
}

.modal-edit-submit-button-boards, .modal-edit-submit-button-cards {
    padding: 12px;
    margin: 0px auto 12px auto;
    background-color: #E95846;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #E95846;
    text-align: center;
    font-size: 1.1em;
    width: 160px;
    cursor: pointer;
}

.modal-board-id-number {
    position: absolute;
    left: 35px;
    top: 23px;
    font-size: 1.5em;
}

label.modal-description {
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

#modal-content p {
    font-style: italic;
    font-size: 0.85em;
    text-align: right;
}

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #eeeeee;
-webkit-border-radius: 16px;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 16px;
}   

.enabled-modal-title, .enabled-modal-description {
    background-color: #3E3E3E;
    border: 1px solid white;
}

.modal-edit-button {
    background-color: #E95846;
    border-color: #E95846;
}

.modal-submit-button {
    background-color: #52a74f;
    border-color: #52a74f;
}

.modal-edit-button:hover {
    background-color: #A33D31;
    border-color: #A33D31;
}

.modal-submit-button:hover {
    background-color: #397437;
    border-color: #397437;
}

/* Toast Message */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin: 0 auto; /* Divide value of min-width by 2 */
    background-color: #333030; /* Black background color */
    color: #EBEBE6; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    left: 20%; /* Center the snackbar */
    right: 20%;
    top: 100px; /* 30px from the bottom */
    font-size: 1.2em;
    box-shadow: 0 0 30px rgba(220,220,220,1.0);  
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
