@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=latin-ext');

body {
    background-color: #2A2A2F;
}

button {
    outline: none;
}

input, textarea {
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    outline: none;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 15px rgba(255,100,100,0.9);
}

textarea {
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-id-number, .board-id-number {
    position: absolute;
    left: 14px;
    top: 10px;
    font-weight: bold;
}


.buttons-div {
    position: absolute;
    right: 8px;
    top: 8px;
}

.delete, .details, .edit-submit-button, .members, .leave-team-img, .cancel-invite, .decline-request,
.accept-request, .remove-member-img, .edit-role-img, .submit-role-img, .boards-access-img, .close-boards-access, .add-board-access-img,
.remove-board-access-img {
    float: right;
    width: 30px;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.delete, .leave-team-img, .cancel-invite, .decline-request, .accept-request, .remove-member-img,
.edit-role-img, .submit-role-img, .boards-access-img, .close-boards-access, .add-board-access-img, .remove-board-access-img {
    cursor: pointer;
}

.delete:hover, .leave-team-img:hover, .cancel-invite:hover, .decline-request:hover, .remove-member-img:hover {
    background-color: rgba(255,190,190,1.0);
    border: 1px solid rgba(255,190,190,1.0);
}

.details:hover, .members:hover, .boards-access-img:hover {
    background-color: rgba(190,190,255,1.0);
    border: 1px solid rgba(190,190,255,1.0);
}

.edit-submit-button {
    padding: 6.5;
}

.remove-board-access-img {
    filter: brightness(0) invert(1);
}

.add-board-access-img {
    filter: brightness(0) invert(1);
}

.edit-title:hover, .edit-role-img:hover {
    background-color: rgba(190,190,255,1.0);
    border: 1px solid rgba(190,190,255,1.0);
}

.submit-title:hover, .accept-request:hover, .submit-role-img:hover {
    background-color: rgba(190,255,190,1.0);
    border: 1px solid rgba(190,255,190,1.0);
}

.drop-zone {
    border: 3px dashed grey;
    margin: 15px 7px;
    border-radius: 10px;
    min-height: 150px;  
}

.card-pool-col {
    min-height: 300px;
}

.no-border {
    border: none;
}

.title {
    color: #3498DB;
    font-family: Anton, serif;
    font-size: 3em;
    user-select: none;
    cursor: default;
}

.board-div {
    text-align: center;
    color: #E5E5E5;
    background-color:rgb(60,60,60);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #E95846;
    margin-bottom: 15px;
    height: 190px;
    position: relative;
}

.board-div:hover {
    position: relative;
    background-color: rgb(40,40,40);
    cursor: pointer;
    border-color: #CC4335;
    transition: background-color 0.2s, border-color 0.2s;
    box-shadow: 0 0 20px rgb(40,40,40);
}

.card-div {
    text-align: center;
    background-color:rgb(60,60,60);
    padding: 5px;
    border-color: rgba(255, 255, 255, 0.5);
    color: #E5E5E5;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
}   

.card-div:hover {
    background-color: rgb(40,40,40);
    transition: background-color 0.2s, border-color 0.2s;
}


.board-title {
    text-align: center;
    margin: 55px auto 20px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7em;
    line-height: 1.15em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.15em;        /* fallback */
    max-height: 3.45em;       /* fallback */
    width: 95%;
}

.card-title {
    text-align: center;
    margin: 55px auto 20px auto;
    font-size: 1.5em;
    width: 95%;
    height: 85px;
    text-overflow: ellipsis;
    cursor: pointer;
    color: rgb(40,40,40);
}

h2 {
    margin-top:10px;
    font-weight: bold;
}

#new-board-form, #new-team-form {
    margin-bottom: 15px;
}

#new-board-button, #new-card-button, #new-team-button, #send-invite {
    padding: 15px;
    margin: 0px 5px 15px 0px;
    background-color: #52a74f;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #52a74f;
    min-width: 150px;
}

#new-board-button:hover, #new-card-button:hover, #new-team-button:hover, #send-invite:hover {
    background-color: #24A12B;
}

.card-count {
    position: absolute;
    bottom: 8px;
    right: 10%;
    left: 10%;
    font-size: 0.9em;
}

#back-to-boards {
    padding: 15px;
    margin: 0px 15px 15px 0px;
    background-color: gray;
    border-radius: 5px;
    font-weight: bold;
    color: #E5E5E5;
    border: 1px solid gray;
}

#back-to-boards:hover {
    background-color: #38383c;
}

.card-pool-col h2 {
    padding: 8px 8px 8px 15px;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 3px solid #18222B;
    line-height: 1em;
}

.disabled-title {
    background-color: rgba(0,0,0,0);
    color: #E5E5E5;
    border: none;
    text-align: center;
    font-weight: bold;
}

#new-board-entry, #new-card-entry, #new-team-submit {
    padding: 8px;
    background-color: #3d3d3d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;    
    color: white;
    border: 1px solid #1f1f1f;
    margin: 0px 0px 5px 5px;
    width: 100px;
}

.row:first-child {
    margin-bottom: 25px;
}

#boards .row:last-child {
    margin-bottom: 60px;
    margin-top: 10px;
}

#new-board-form, #new-card-form, #new-team-form {
    display: none;
}

#cards {
    display: none;
}

/* Message flashing class selectors */
p.error, p.success, p.login_error, p.register_error {
    margin: 30px auto 30px auto;
    border-radius: 5px;
    background-color: #333030;
    font-weight: normal;
    padding: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    max-width: 80%;
    text-align: center;
    overflow: hidden;
    display: table;
    font-size: 1em;
}

p.success {
    color: #56CC65;
}

p.login_error, p.register_error, p.error {
    color: #FFA39B;
}

/* The Modal (background) */
#modal-background {
    display: none;
    position: fixed;
    z-index: 998;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
#modal-content {
    background-color: #1E1E1E;
    color: #d8d8d8;
    margin: 80px auto 30px auto;
    padding: 30px 60px 40px 60px;
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;
    font-size: 1.2em;
    width: 90%;
}

.modal-title {
    width: 90%;
    margin: 25px auto 5px auto;
    display: block;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1.6em;
    text-align: center;
    overflow: auto;
}

.modal-description {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: none;
    padding: 5px;
    font-weight: normal;
    width: 100%;
    margin: 30px auto 15px auto;
    display: block;
    border-radius: 10px;
    overflow: auto;
    font-size: 0.9em;
    text-align: justify;
}

.modal-description::placeholder {
    font-style: italic;
}


/* Close Button */
.close {
    color: #F2F2F2;
    position: absolute;
    right: 35px;
    top: 23px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Header */
header {
    padding: 20px 0;
    border: 1px solid black;
}

h1 {
  text-align: center;  
  font-weight: bold;
  font-size: 2.4em;
  margin: 60px auto 40px auto;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
    font-size: 1.2em;
    cursor: pointer;
}

header a:hover {
    cursor: pointer;
}

/* Footer */
#footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
    background-color: #2A2A2F;
    color: white;
    border-top: 1px solid #E95846;
    z-index: 1;
    height: 60px;
    position: relative;
    bottom: 25px;
}

.loading {
    display: block;
    margin: 30px auto;
}

.modal-edit-submit-button-boards, .modal-edit-submit-button-cards {
    padding: 12px;
    margin: 0px auto 12px auto;
    background-color: #E95846;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 1px solid #E95846;
    text-align: center;
    font-size: 1.1em;
    width: 160px;
    cursor: pointer;
}

.modal-board-id-number {
    position: absolute;
    left: 35px;
    top: 23px;
    font-size: 1.5em;
}

label.modal-description {
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

#modal-content p {
    font-style: italic;
    font-size: 0.85em;
    text-align: right;
}

#mod-desc::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #eeeeee;
-webkit-border-radius: 16px;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #666;
border: 1px solid #eee;
-webkit-border-radius: 16px;
}   

.enabled-modal-title, .enabled-modal-description {
    background-color: #3E3E3E;
    border: 1px solid white;
}

.modal-edit-button {
    background-color: #E95846;
    border-color: #E95846;
}

.modal-submit-button {
    background-color: #52a74f;
    border-color: #52a74f;
}

.modal-edit-button:hover {
    background-color: #A33D31;
    border-color: #A33D31;
}

.modal-submit-button:hover {
    background-color: #397437;
    border-color: #397437;
}

/* Toast Message */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin: 0 auto; /* Divide value of min-width by 2 */
    background-color: #333030; /* Black background color */
    color: #EBEBE6; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    left: 20%; /* Center the snackbar */
    right: 20%;
    top: 100px; /* 30px from the bottom */
    font-size: 1.2em;
    box-shadow: 0 0 30px rgba(220,220,220,1.0);  
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

#hero-image {
    background-image: url("/static/images/hero-image.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top:0px;
    margin-bottom: 0px;
}

#hero-image .cta-container {
    position: relative;
    bottom: 10px;
    margin: 30px auto;
    text-align: center;
}

.start, .learn {
    width: 300px;
    display: inline-block;
    text-align: center;
}

#hero-image .start {
    text-decoration: none;
    color: #EBEBE6;
    background-color: #00B7DC;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 19px 59px;
    border-radius: 50px;
}

#hero-image .start:hover {
    background-color: #85C1E9;
    transition: background-color, 0.3s;
}

#hero-image .learn {
    text-decoration: none;
    color: #EBEBE6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 15px 55px;
    border-radius: 50px;
    border: 2px solid rgb(235, 235, 230);
}

#hero-image .learn:hover {
    background-color: rgba(235, 235, 230, 0.2);
    transition: background-color, 0.3s;
}

#hero-image .learn, #hero-image .start {
    margin: 0px 15px 10px 15px;
}

#dark-overlay {
    background-color: rgba(0,0,0,0.5);
    height:100vh;
}

#welcome-text {
    text-align: right;
    margin-top: 8vh;
    color: #EBEBE6;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: 5%;
    margin-bottom: 10vh;
}

#welcome-text span {
    font-weight: 800;
}

.pronav {
    position: fixed;
    top: 0;
    z-index:997;
    display: block;
    background-color: #2A2A2F;
    height: 80px;
    width: 100%;
    margin: 0px;
    color: #EBEBE6;
    border-top: 1px solid #E95846;
    border-bottom: 1px solid #E95846;
}

#drop-down {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #2A2A2F;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#drop-down li {
    border-bottom: 1px solid #E95846;
    display: none;
    background-color: #2A2A2F;
    padding: 7px;
}

#drop-down a {
    color: #EBEBE6;
    font-weight: bold;
    font-size: 1.4em;  
}

#drop-down a:hover {
    text-decoration: none;
    color: #E95846;
}

.pronav .logo {
    height: 50px;
}

.pronav .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.pronav ul {
    float: right;
}

.pronav .menu {
    margin-top: 12px;
    margin-right: 15px;
}

.pronav .menu li {
    display: inline-block;
    margin: 0 5px;
}

.pronav .menu .login {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #EBEBE6;
    text-decoration: none;
    padding: 15px;
    background-color: #00B7DC;
    border-radius: 3px;
    margin-left: 15px;
}

.pronav .menu .login:hover {
    background-color: #85C1E9; 
    transition: background-color, 0.3s;
}

.pronav .menu .bttn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #EBEBE6;
    text-decoration: none;
    padding: 12px;
}

.pronav .menu .bttn:hover {
    color: #E95846;
    transition: color, 0.3s;
}

.engine {
    background-color: #2A2A2F;
    color: #EBEBE6;
    width: inherit;
    text-align: center;
    margin-bottom: 0px;
}

.developers {
    background-color: #4A4A50;
    color: #EBEBE6;
    width: inherit;
    text-align: center;
    margin-bottom: 0px;
}

#engine, #developers {
    position: relative;
    bottom: 80px;
}

#engine p {
    font-size: 0.5em;
}

.main-content {
    padding-top: 80px;
    min-height: 600px;
    background-color: #CBCBCE;
}

.log {
    background-color: #4A4A50;
}

.reg {
    background-color: #719EA7;
}

.log, .reg {
    text-align: center;
    color: #EBEBE6;
    padding-top: 3%;
}

.log .note, .reg .note {
    font-size: 1em;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.log .button, .reg .button {
    margin-top: 25px;
}


.log .field, .reg .field {
    background-color: rgba(235, 235, 230, 0.0);
    margin-bottom: 15px;
    border-width: 3px;
    border-color: white !important;
    border-left-color: white !important;
    border-top-color: white !important;
    padding: 15px;
    border-radius: 500px;
    font-weight: 600;
}

.log .field:focus, .reg .field:focus {
    background-color: rgba(235, 235, 230, 0.2);
}

.fullwidth-container {
    margin: 0px;
    width: 100%;
}

.nopadding {
    padding-top: 0px;
}

.fullwindow {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.fill {
    height: 100%;
}

#register, #login {
    height: 550px;
}

#register h2, #login h2 {
    margin-top: 30px;
}


.log .button {
    padding: 15px;
    margin: 25px 15px 15px 0px;
    background-color: #00B7DC;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid #00B7DC;
}

.reg .button {
    padding: 15px;
    margin: 25px 15px 15px 0px;
    background-color: #E95846;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid #E95846;
}

#new-cards-col .card-div {
    border: 3px solid #6666FF;
}

#new-cards-col .card-div:hover {
    box-shadow: 0 0 20px #6666FF;
}

#new-cards-col h2 {
    background-color: #6666FF;
    border-bottom: 3px solid #3d3d99;
}

#inprogress-cards-col .card-div {
    border: 3px solid #d0bc47;
}

#inprogress-cards-col .card-div:hover {
    box-shadow: 0 0 20px #d0bc47;
}

#inprogress-cards-col h2 {
    background-color: #d0bc47;
    border-bottom: 3px solid #a59431;
}

#review-cards-col .card-div {
    border: 3px solid #d0455a;
}

#review-cards-col .card-div:hover {
    box-shadow: 0 0 20px #d0455a;
}

#review-cards-col h2 {
    background-color: #d0455a;
    border-bottom: 3px solid #983443;
}

#done-cards-col .card-div {
    border: 3px solid #243342;
}

#done-cards-col .card-div:hover {
    box-shadow: 0 0 20px #243342;
}

#done-cards-col h2 {
    background-color: #243342;
    border-bottom: 3px solid #151E27;
}

.drag-enter {
    background-color: blue;
}

p#confirm-question {
    text-align: center;
    font-size: 1.2em;
    margin: 30px auto 60px auto;
}

.confirm-buttons {
    width: 270px;
    margin: 30px auto;
}

#confirm, #cancel, #confirm-new-owner, #confirm-delete-team, #confirm-leave-team, #okay {
    width: 120px;
    float: left;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

#confirm, #confirm-new-owner, #confirm-delete-team, #confirm-leave-team, #okay {
    margin-right: 30px;
    background-color: #52a74f;
    border: 1px solid #52a74f;
}

#okay {
    margin: 30px auto;
    float: none;
}

#cancel {
    background-color: #E95846;
    border: 1px solid #E95846;
}

#cancel:hover {
    background-color: #A33D31;
    border-color: #A33D31;
}

#confirm:hover, #confirm-new-owner:hover, #confirm-delete-team:hover, #confirm-leave-team:hover, #okay:hover {
    background-color: #397437;
    border-color: #397437;
}

#menu-container {
    display: block;
    cursor: pointer;
    float: right;
    position: relative;
    top: 4px;
}

#menu-container div {
    background-color: #EBEBE6;
    border-radius: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.menu-change .bar2 {opacity: 0;}

.menu-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

p.long-text {
    text-align: justify;
    font-size: 16px;
    padding: 15px;
}

#space-div {
    height: 100px;
}