
table {
    margin: 30px auto;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

h1 {
    margin-bottom: 5px;
    margin-top: 40px;
}

.main-content {
    min-height: 90vh;
}