
select, option {
    outline: none;
    border-radius: 5px;
    background-color: white;
}

button {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

input, textarea {
    display: block;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

#submit-edit-team {
    display: none;
    margin-bottom: 40px;
    width: 120px;
}

#submit-edit-team:hover {
    background-color: gray;
    color: white;
}

textarea {
    width: 66%;
    min-width: 245px;
    overflow: auto;
    margin-top: 0;
}

#team-description {
    display: block;
}

.select-or-add {
    float: left;
    border: 0 solid black;
    padding: 5px;
    margin: 0 0 0 0;
    width: 122px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.select-or-add:hover {
    background-color: gray;
    color: white;
}

.category-choice {
    display: block;
    padding: 5px;
    margin: 0;
}

#category-buttons {
    display: none;
    margin: 0 0 0 0;
    height: 40px;
    width: 250px;
}

#category-input {
    display: none;
    width: 245px;
}

#category-select {
    width: 245px;
    text-align: center;
}

.pressed {
    background-color: #323232;
    color: white;
}

#edit-team {
    margin: 0 0px 5px 0;
}

#edit-team:hover {
    background-color: gray;
    color: white;
}

#back-to-teams:hover {
    background-color: gray;
    color: white;
}

label {
    margin-top: 20px;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    background-position: center;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logo {
    text-align: left;
}

.logo span {
    margin-bottom: 5px;
    font-weight: bold;
}

.logo span:first-child {
    margin-right: 20px;
    display: block;
    width: 100px;
}

#delete-image {
    width: 18px;
    position: absolute;
    top: 2px;
    right: 0;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
}

#logo-outer {
    position: relative;
    width: 200px;
}

#delete-image:hover {
    background-color: gray;
}

#upload-logo {
    width: 100px;
    display: block;
    padding: 5px;
}

#upload-logo-button {
    width: 200px;
    padding: 5px;
    margin: 0 0 40px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1.3em;
    background-color: gray;
    cursor: pointer;
}

#upload-logo-button:hover {
    background-color: black;
}

#upload-logo-img {
    width: 20%;
    padding: 5px;
    position: relative;
    right: 5px;
}

#upload-logo-button span {
    color: white;
    text-transform: uppercase;
    position: relative;
    right: 5px;
}

#team-profile {
    margin-bottom: 25px;
}

.not-editable {
    background-color: gray;
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}

/*for IE10*/
select.not-editable::-ms-expand {
    display: none;
}

.cancel-button {
    background-color: darkred;
    color: white;
}

#edit-team.cancel-button:hover {
    background-color: red;
    color: white;
}

#team-profile-content {
    margin-bottom: 40px;
}

button {
    padding: 15px;
    margin: 0px 0 5px 0px;
    /*background-color: #52a74f;*/
    border-radius: 5px;
    font-weight: bold;
    /*color: white;*/
    /*border: 1px solid #52a74f;*/
    min-width: 150px;
}

button:hover {
    background-color: gray;
    color: white;
}

#team-profile-inner {
    margin-top: 20px;
}

#new-owner-submit {
    display: none;
}

#ownership-manager {
    margin-top: 10px;
    margin-bottom: 0;
    display: none;
}

#ownership-manager-inner {
    width: 303px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: #808080;
}

#ownership-manager-inner p {
    font-size: 0.89em;
    font-weight: bold;
    margin: 5px 0;
}

#ownership-manager-inner select {
    margin-bottom: 10px;
}