
select, option {
    outline: none;
    border-radius: 5px;
    background-color: white;
}

h1 {
    margin-bottom: 5px;
    margin-top: 40px;
}

button {
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

input, textarea {
    display: block;
    margin: 20px 0 20px 0;
    font-weight: normal;
}

input[type=submit] {
    margin-bottom: 30px;
    width: 120px;
}

textarea {
    width: 66%;
    min-width: 245px;
    overflow: auto;
    margin-top: 0;
}

#team-description {
    display: block;
}

.select-or-add {
    float: left;
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px 0 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

.category-choice {
    display: block;
    padding: 5px;
    margin: 0;
}

#category-buttons {
    display: block;
    margin: 0 0 0 0;
    height: 40px;
    width: 250px;
}

#category-input {
    display: none;
    width: 245px;
}

#category-select {
    width: 245px;
    text-align: center;
}

.pressed {
    background: gray;
}

#edit-team {
    margin: 0 0px 20px 0;  
}

label {
    margin-top: 20px;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    background-position: center;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logo {
    text-align: left;
}

.logo span {
    margin-bottom: 5px;
    font-weight: bold;
}

.logo span:first-child {
    margin-right: 20px;
    display: block;
    width: 100px;
}

#delete-image {
    width: 18px;
    position: absolute;
    top: 2px;
    right: 0;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
}

#logo-outer {
    position: relative;
    width: 200px;
}

#delete-image:hover {
    background-color: gray;
}

#upload-logo {
    margin-bottom: 30px;
    width: 100px;
    display: block;
    padding: 5px;
}

#upload-logo-button {
    width: 200px;
    padding: 5px;
    margin: 0 0 30px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1.3em;
    background-color: gray;
    cursor: pointer;
}

#upload-logo-button:hover {
    background-color: black;
}

#upload-logo-img {
    width: 20%;
    padding: 5px;
    position: relative;
    right: 5px;
}

#upload-logo-button span {
    color: white;
    text-transform: uppercase;
    position: relative;
    right: 5px;
}