
.container {
    border: 1px solid red;
}

h1 {
    text-align: center;
}


#content {
    border: 1px solid yellow;
}

.board-div, .card-div {
    border: 1px solid black;
    /*display: inline-block;*/
    text-align: center;
}


.col-sm-12 {
    border: 1px solid blue;
}

.col-sm-3 {
    border: 1px solid green;
}

.row {
    border: 1px solid black;
}