
/*

Classes:

.container
.row
.col-sm-12
.col-lg-3
.board-title (for a h2)
.card-count (for p-s)
.card-pool-col

IDs:

#boards
#cards
#cards-main-row

#new-cards-col
#inprogress-cards-col
#done-cards-col
#review-cards-col

*/




.container {
    border: 1px solid red;
}

h1 {
    text-align: center;
}


#content {
    border: 1px solid yellow;
}

.board-div, .card-div {
    border: 1px solid black;
    /*display: inline-block;*/
    text-align: center;
}


.col-sm-12 {
    border: 1px solid blue;
}

.col-sm-3 {
    border: 1px solid green;
}

.row {
    border: 1px solid black;
}


.card-title {
    background-color: white;
}


.disabled-title {
    background-color: gray;
}

.card-order {
    width: 20%;
}

.card-div {
    margin: 10px 5px;
}

.drop-zone {
    border: 3px dashed grey;
    margin: 15px 7px;
    min-height: 30px;
    border-radius: 10px;
    /*background-image: url('/static/dropzone.png');
    background-size: 50px;*/
    /*background-repeat: no-repeat;*/
    background-color: white;
    min-height: 100px;
}

.card-pool-col {
    min-height: 300px;
}

.no-border {
    border: none;
}