#cards {
    display: none;
}

#wrapper {
    width: 80%;
    border: 1px solid red;
    margin: auto;
}

#boards {
    width: 80%;
    border: 1px solid blue;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board-div {
    width: 20%;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
}