
{% extends "layout.html" %}

{% block title %}Boards{% endblock %}

{% block scripts %}

    <script type="text/javascript">var boardsData = {{ boards_data|tojson }}</script>

    <script src="{{url_for('static', filename='scripts/boards/data_handler_boards.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/common_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/cards_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/boards_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/main_boards.js')}}" defer></script>


{% endblock %}

{% block content %}

    <div class="container" id="boards">
        <h1>Boards</h1>


        <!-- Messages with Classes: error, success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}

        <div id="select-team-div">
            <p>Please select which boards would you like to see.</p>
            <select id="">
                <option selected value="Personal Boards">Personal Boards</option>
                <option value="Team 1">Team 1</option>
                <option value="Team 2">Team 2</option>
            </select>
        </div>

        <h4 id="current-boards">Currently shown: Personal Boards</h4> 
    
    </div>
    <div class="container" id="cards"></div>

{% endblock %}
