
{% extends "layout.html" %}

{% block title %}Boards{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        var boardsData = {{ boards_data|tojson }};
        var teamId = {{ team_id if team_id else 'null' }};
        var teamRole = '{{ team_role if team_role else 'personal' }}';
        var boardRole;
        var teamMembers = null;
    </script>

    <script src="{{url_for('static', filename='scripts/boards/data_handler_boards.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/common_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/cards_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/boards_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/boards/main_boards.js')}}" defer></script>


{% endblock %}

{% block content %}

    <div class="container" id="boards">
        <h1>Boards</h1>


        <!-- Messages with Classes: error, success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}

        <div class="col-sm-12" id="select-team-div">
            <hr>
            <p class="description">Showing either <strong>personal boards</strong> or <strong>team related boards</strong>.</p>
            <select id="team-select">
                <option selected value="personal boards">Personal Boards</option>
                {% if account_teams %}
                {% for acc_team in account_teams %}
                <option value="{{ acc_team.acc_team_id }} - {{ acc_team.team_id }}">{{ acc_team.team_name }} ({{ acc_team.team_role }})</option>
                {% endfor %}
                {% endif %}
            </select>
            <hr>
        </div>

    </div>
    <div class="container" id="cards"></div>

{% endblock %}
