
{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <a id="home"></a>
    <section class="jumbotron" id="hero-image">
        <section class="jumbotron" id="dark-overlay">
            <div class="container">
                <div class="row" >
                    <p id="welcome-text">The next generation of<br>
                    <span>project management</span></br>
                    is here.</p>
                    </div>
                <div class="row cta-container">
                        <a href="#" class="cta start">Get started</a>
                        <a href="{{url_for('index')}}#engine" class="cta learn">Learn More</a>
                </div>
            </div>
            </section>
    </section>
    <a id="engine"></a>
    <section class="jumbotron engine" id="engine-content">
        <div class="container">
            <div class="row">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta vel odio sit amet mollis. Mauris quis metus id ipsum rhoncus scelerisque non id mauris. Nullam eget nibh euismod, mollis tellus ac, ornare ex. Etiam at mattis eros, eu tristique sapien. Fusce vitae euismod nibh, eu malesuada lorem. Nulla facilisi. Vivamus in maximus justo, vitae viverra eros. Donec vestibulum nulla lacus, in ultricies lectus tempus et. Nunc auctor sapien imperdiet, pharetra elit vitae, tincidunt nunc. Pellentesque vel feugiat enim. Aenean in hendrerit neque. Cras hendrerit metus quis ipsum accumsan, sed eleifend dui ultricies. Ut iaculis eros eget sem dapibus, in finibus ante venenatis. Fusce imperdiet ullamcorper elementum.</p>
            </div>
        </div>
    </section>
    <a id="developers"></a>
    <section class="jumbotron developers" id="developers-content">
        <div class="container">
            <div class="row">
                <h2>Developers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta vel odio sit amet mollis. Mauris quis metus id ipsum rhoncus scelerisque non id mauris. Nullam eget nibh euismod, mollis tellus ac, ornare ex. Etiam at mattis eros, eu tristique sapien. Fusce vitae euismod nibh, eu malesuada lorem. Nulla facilisi. Vivamus in maximus justo, vitae viverra eros. Donec vestibulum nulla lacus, in ultricies lectus tempus et. Nunc auctor sapien imperdiet, pharetra elit vitae, tincidunt nunc. Pellentesque vel feugiat enim. Aenean in hendrerit neque. Cras hendrerit metus quis ipsum accumsan, sed eleifend dui ultricies. Ut iaculis eros eget sem dapibus, in finibus ante venenatis. Fusce imperdiet ullamcorper elementum.
Integer aliquet ex eros, vel sollicitudin sapien porta nec. Aliquam est neque, sagittis euismod ultrices ut, iaculis non dolor.</p>
            </div>
        </div>
    </section>

{% endblock %}
