
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %} - ProMan</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon.png')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="{{url_for('static', filename='scripts/nav.js')}}" defer></script>

    <!-- Page specific scripts -->
    {% block scripts %}{% endblock %}

</head>

<body>

    <!-- Navigation bar -->
    <nav class="container pronav">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{url_for('index')}}">
                    <img src="{{url_for('static', filename='images/proman-logo-ondark.png')}}" class="logo">
                </a>

                <div id="menu-container" class="visible-xs-block">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

                <ul class="visible-xs-block" id="drop-down">
                    {% if session.user_name %}
                    <li><a href="{{url_for('boards')}}" class="anchor bttn">Boards</a></li>
                    <li><a href="{{url_for('teams')}}" class="anchor bttn">Teams</a></li>
                    <li><span class="anchor bttn">{{session.user_name}}</san></li>
                    <li><a href="{{url_for('logout')}}" class="anchor bttn">Log out</a></li>
                    {% else %}
                    <li><a href="{{url_for('index')}}" class="anchor bttn">Home</a></li>
                    <li><a href="{{url_for('index')}}#engine" class="anchor bttn">About</a></li>
                    <li><a href="{{url_for('index')}}#developers" class="anchor bttn">Developers</a></li>
                    <li><a href="{{url_for('manage_account')}}" class="cta login">Log in</a></li>
                    {% endif %}
                </ul>

                <ul class="hidden-xs menu">
                    {% if session.user_name %}
                    <li><a href="{{url_for('boards')}}" class="anchor bttn">Boards</a></li>
                    <li><a href="{{url_for('teams')}}" class="anchor bttn">Teams</a></li>
                    <li><span class="anchor bttn">{{session.user_name}}</san></li>
                    <li><a href="{{url_for('logout')}}" class="anchor bttn">Log out</a></li>
                    {% else %}
                    <li><a href="{{url_for('index')}}" class="anchor bttn">Home</a></li>
                    <li><a href="{{url_for('index')}}#engine" class="anchor bttn">About</a></li>
                    <li><a href="{{url_for('index')}}#developers" class="anchor bttn">Developers</a></li>
                    <li><a href="{{url_for('manage_account')}}" class="cta login">Log in</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <!-- Modal Section -->
    <section class="row">
        <div id="modal-background">
            <div class="container" id="modal-content">
            </div>
        </div>
    </section>

    <!-- Toast Messages -->
    <div id="toast">Placeholder toast message.</div>

    <!-- Content Section -->
    <section class="main-content">

        <!-- Content Block -->
        {% block content %}{% endblock %}

    </section>

    <footer class="jumbotron" id="footer">
        <div class="container" >
            <div class="row">
                <div class="col-sm-12">
                    <p>&copy; 2017 RushBit</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
