
{% extends "layout.html" %}

{% block title %}Team Members{% endblock %}

{% block scripts %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/team_members.css') }}">

    <script src="{{ url_for('static', filename='scripts/teams/data_handler_teams.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/teams/teams_dom.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/teams/main_teams.js') }}" defer></script>

{% endblock %}

{% block content %}

    <script> var teamId = {{ team_id }} </script>

    <div class="container" id="team-members">
        <h1>{{ team_name }}</h1>
        <h4 class="subtitle">Team Members</h4>

        <!-- Messages with Classes: error, success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for msg_category, message in messages %}
        <p class="{{ msg_category }}">{{ message }}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}

        <!-- Page Navigation Section -->
        <div class="row">
            <div class="col-sm-12">
                {% if role %}
                <button id="back-to-teams">Back to Teams</button>
                {% endif %}
            </div>
        </div>

        <!-- Send Invite -->
        {% if role in ('owner', 'manager') %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Invite Users</h4>
                {% if accounts_to_invite %}
                <input list="all-accounts" id="send-invite-input" placeholder="Choose account...">
                <datalist id="all-accounts">
                    {% for account in accounts_to_invite %}
                    <option value="{{ account.id|string + ' - ' + account.name }}">
                    {% endfor %}
                </datalist>
                <button id="send-invite">Send</button>
                {% else %}
                <p>There are no more uninvited users in the ProMan network.</p>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- Sent Invites (Cancel) -->
        {% if role in ('owner', 'manager') %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Sent Invites</h4>
                {% if invited_accounts %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sent</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invited_acc in invited_accounts %}
                        <tr>
                            <td>{{ invited_acc.id }}</td>
                            <td>{{ invited_acc.name }}</td>
                            <td>{{ invited_acc.created }}</td>
                            <td>
                                <img class="cancel-invite" src="{{ url_for('static', filename='images/delete.svg') }}" alt="Cancel"
                                    data-invited-id="{{ invited_acc.id }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>There are no invites sent out currently.</p>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- Join Requests (Accept/Decline) -->
        {% if role in ('owner', 'manager') %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Incoming Requests</h4>
                {% if requests %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sent</th>
                            <th>Accept</th>
                            <th>Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <td>{{ request.id }}</td>
                            <td>{{ request.name }}</td>
                            <td>{{ request.created }}</td>
                            <td>
                                <img class="accept-request" src="{{ url_for('static', filename='images/submit.svg') }}" alt="Accept"
                                    data-team-id="{{ team_id }}" data-account-id="{{ request.id }}">
                            </td>
                            <td>
                                <img class="decline-request" src="{{ url_for('static', filename='images/delete.svg') }}" alt="Decline"
                                    data-team-id="{{ team_id }}" data-account-id="{{ request.id }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>There are no unresponded requests currently.</p>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <!-- Manage Current Members -->
        <div class="row" id="team-members-outer">
            <div class="col-sm-12" id="team-members-inner">
                <h4>Current Members</h4>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Role</th>
                            {% if role in ('owner', 'manager') %}
                            <th>Boards<br>Access</th>
                            <th>Remove</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in current_members %}
                        <tr id="at-id-{{ member.acc_team_id }}">
                            <td>{{ member.id }}</td>
                            <td>{{ member.name }}</td>
                            <td>
                                <select class="role-select disabled-role-select" disabled>
                                    {% if member.role != 'owner' %}
                                    {% for selected_role in ['manager', 'member'] %}
                                    <option {{'selected' if member.role == selected_role else ''}} value="{{ selected_role }}">{{ selected_role|capitalize }}</option>
                                    {% endfor %}
                                    {% else %}
                                    <option value="owner">Owner</option>
                                    {% endif %}
                                </select>
                                {% if member.role != 'owner' and role == 'owner' %}
                                <img class="edit-role-img" src="{{ url_for('static', filename='images/edit.svg') }}" alt="Edit" data-team-id="{{ team_id }}" data-member-id="{{ member.id }}">
                                {% endif %}
                            </td>
                            {% if role in ('owner', 'manager') %}
                            <td class="icon-td boards-access-img-td">
                                <img class="boards-access-img boards-access-open-close {{ 'inactive' if member.role in ('owner', 'manager') else '' }}" src="{{ url_for('static', filename='images/boards.svg') }}" alt="Boards" data-acc-team-id="{{ member.acc_team_id }}" data-team-id="{{ team_id }}" data-team-role="{{ member.role }}">
                            </td>
                            <td class="icon-td">
                                <img class="remove-member-img {{ 'inactive' if member.role in ('owner', 'manager') else '' }}" src="{{ url_for('static', filename='images/delete.svg') }}" alt="Remove" data-team-id="{{ team_id }}" data-member-id="{{ member.id }}">
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
