
{% extends "layout.html" %}

{% block title %}Teams{% endblock %}

{% block scripts %}

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/teams.css')}}">

    <script src="{{url_for('static', filename='scripts/teams/data_handler_teams.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/teams/teams_dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='scripts/teams/main_teams.js')}}" defer></script>

{% endblock %}

{% block content %}

    <div class="container" id="teams">
        <h1>My Teams</h1>

        <!-- Messages with Classes: error, success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}

        {% endif %}
        {% endwith %}

        <!-- Page Navigation Section -->
        <div class="row">
            <div class="col-sm-12">
                <button id="new-team-button">Create Team</button>
                <form action="{{ url_for('create_team') }}" method="POST" id="new-team-form">
                    <input type="text" name="name" id="new-team-name">
                    <select name="category" id="category-select" class="category-choice">
                        <option selected disabled>Choose category...</option>
                        {% for category in categories %}
                        {% if category != 'unselected' %}
                        <option>{{ category }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" id="new-team-submit" value="Submit">
                </form>
            </div>
        </div>

        <!-- Teams Table Content -->
        <div class="row">
            <div class="col-sm-12">

                {% if teams_data %}
                <table>

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th class="role-td">Role</th>
                            <th class="icon-td">Details</th>
                            <th class="icon-td">Members</th>
                            <th class="icon-td">Leave</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for team in teams_data %}
                        <tr>
                            <td>{{ team.id }}</td>
                            <td class="team-name-td">{{ team.name }}</td>
                            <td class="role-td">{{ team.role }}</td>

                            <!-- Team profile -->
                            <td class="icon-td">
                                <a href="{{ url_for('team_profile', team_id=team.id) }}">
                                    <img class="details" src="{{ url_for('static', filename='images/details.svg') }}" alt="Details">
                                </a>
                            </td>

                            <!-- Team members -->
                            <td class="icon-td">
                                <a href="{{ url_for('team_members', team_id=team.id) }}">
                                    <img class="members" src="{{ url_for('static', filename='images/members.svg') }}" alt="Members">
                                </a>
                            </td>

                            <!-- Leave team -->
                            <td class="icon-td">
                                <img class="leave-team-img {{ 'inactive' if team.role == 'owner' else '' }}" src="{{ url_for('static', filename='images/delete.svg') }}" alt="Leave" data-team-id="{{ team.id }}" data-team-name="{{ team.name }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

                {% else %}
                <p>You are not part of any teams yet. Create or join one by browsing.</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
